@mixin cinnabar-link-bg($color)
  background: $color
  border-top: 1px solid darken($color, 20%)

.editor-link
  bottom: 0
  left: 0
  position: fixed
  width: 100%
  z-index: 9999

  a
    @include cinnabar-link-bg(lightskyblue)
    color: #222
    display: block
    font-weight: bold
    padding: 0.9em 0
    text-align: center

    span
      padding-left: 1em
      visibility: hidden
    &:hover
      @include cinnabar-link-bg(lemonchiffon)
      text-decoration: none
      span
        visibility: visible
