<!DOCTYPE html>
<html>
<head>
  <title>Cinnabar</title>
  <%= stylesheet_link_tag    "cinnabar/application", :media => "all" %>
  <%= javascript_include_tag "cinnabar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
